---
import type { Program as programProps } from "../tv/domain/Program";
import ProgramDetail from "./ProgramDetail.astro";

interface Props {
  programs: programProps[];
  title: string;
  key: string;
}

const programs = Astro.props.programs;
const key = Astro.props.key;
const title = Astro.props.title;
---

<dialog id={key} popover>
  <div
    class="fixed inset-0 bg-slate-950/50 flex justify-center items-start pt-8 transition-opacity duration-300 ease-out z-[9999]"
  >
    <div
      class="bg-bg-default rounded-xl shadow-2xl shadow-slate-950/5 border border-border-muted w-[95%] max-h-[90vh] scale-95 flex flex-col"
    >
      <div class="p-4 pb-2 flex justify-between items-center">
        <h1 class="text-lg text-fg-default font-semibold">{title}</h1>
        <button
          popovertarget={key}
          type="button"
          aria-label="Close"
          class="inline-grid place-items-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none data-[shape=circular]:rounded-full text-sm min-w-[34px] min-h-[34px] rounded-md bg-transparent border-transparent text-fg-default shadow-none hover:shadow-none outline-none absolute right-2 top-2"
        >
          <svg
            width="1.5em"
            height="1.5em"
            stroke-width="1.5"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            color="currentColor"
            class="h-5 w-5"
            ><path
              d="M6.75827 17.2426L12.0009 12M17.2435 6.75736L12.0009 12M12.0009 12L6.75827 6.75736M12.0009 12L17.2435 17.2426"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
        </button>
      </div>
      <div class="p-4 pt-2 overflow-auto flex-1">
        {
          programs.map((program) => {
            return (
              <ProgramDetail
                program={program}
                title={program.subTitle ? program.subTitle : program.title}
              />
            );
          })
        }
      </div>
      <!-- <div class="py-1 px-4 flex justify-end gap-2">
                <button popovertarget={k} type="button" class="inline-flex items-center justify-center border align-middle select-none font-sans font-medium text-center transition-all duration-300 ease-in disabled:opacity-50 disabled:shadow-none disabled:cursor-not-allowed data-[shape=pill]:rounded-full data-[width=full]:w-full focus:shadow-none text-sm rounded-md py-2 px-4 bg-transparent border-transparent text-red-500 hover:bg-red-500/10 hover:border-red-500/10 shadow-none hover:shadow-none outline-none">Fermer</button>
            </div> -->
    </div>
  </div>
</dialog>
