---
import type { Program as programProps } from "../tv/domain/Program";
import DialogProgram from "./DialogProgram.astro";

import { formatDateHours, timeOfProgram } from "../utils.ts";

interface Props {
  program: programProps;
  count?: number;
  key?: string;
}

const { start, stop, title, subTitle, categories, image, tvShow } =
  Astro.props.program;
const count = Astro.props.count;
const key = Astro.props.key;
---

<div
  class="flex mb-3 justify-between p-2 bg-bg-muted rounded-lg snap-center program"
  data-categories={categories?.join(" ")}
>
  <div class="order-2">
    <object data={image} class="w-[65px] h-[90px] object-cover rounded-md">
      <img src="https://placehold.co/65x90?text=No image" />
    </object>
    <slot name="progress" />
  </div>
  <div class="order-1 flex flex-col mr-[4px]">
    <div class="text-xs font-bold">
      <time datetime={start.toString()}>{formatDateHours(start)}</time>
    </div>
    <div class="mb-1 mt-[0.275em] leading-[1.125]">
      <h2 class="font-medium inline-block">
        <button popovertarget={key} class="text-left"
          >{title}&nbsp;{
            tvShow?.season && tvShow?.episode ? (
              <span class="text-xs text-fg-muted">
                /&nbsp;S{tvShow?.season}E{tvShow?.episode}
              </span>
            ) : (
              ""
            )
          }</button
        >
      </h2>
      <div class="text-xs mb-1.5 text-button-default-fg">
        {subTitle ? <p>{subTitle}</p> : null}
        {
          count && count > 1 ? (
            <button popovertarget={`episode${key}`}>
              + {count - 1} épisode{count == 2 ? "" : "s"}
            </button>
          ) : null
        }
      </div>
      {
        categories && categories.length > 0 ? (
          <>
            <div class="text-xs mb-1 button-default-fg">{categories[0]}</div>
          </>
        ) : null
      }
      <div class="text-xs font-medium">{timeOfProgram(start, stop)}</div>
    </div>
  </div>

  <DialogProgram
    programs={[Astro.props.program]}
    title={title}
    key={`${key}`}
  />
</div>
